ul#draw-app-list {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 50%;
    right: 0px;
    z-index:99;
}

li#draw-app-list {
    display: block;
    border: 1px grey solid;
    padding: 10% 10% 10% 10%;
    cursor: pointer;
    z-index:99;
}
li#draw-app-list:hover {
    background: "#ffffff";
}
