ul#draw-app-list {
    bottom: 30%;
    position: fixed;
    right: 0;
    z-index: 99;
}
li#draw-app-list {
    cursor: pointer;
    display: block;
    padding: 2%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    font-family: helvetica;
    border-left: 1px solid;
}
li#draw-app-list:hover {
    background: black;
    color: white;
}
